{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Exams PG</h1>
    <p class="lead">On this site, you can submit exams filled by students and check their results. Supported template can be downloaded.</p>
</div>


{% endblock %}
