{% extends "app/layout.html" %}

{% block content %}
<p></p>
<div class="card">
    <div class="card-body">
        <section id="loginForm">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id_username" class="col-md-2 control-label">User</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Provide correct username and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>

</div>
{% endblock %}


{% block scripts %}

    {% load staticfiles %}


{% endblock %}
