{% extends "app/layout.html" %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Exam name</th>
            <th scope="col">Owner</th>
            <th scope="col">Submit date</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <form method="GET">
            <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                    {{ filter.form.name__contains|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                    {{ filter.form.status|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    <br/>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            {#             {{ filter.form|crispy }}#}
        </form>

        {% for template in page_obj.object_list %}
            <tr>
                <td>
                    <article class="media content-section">
                        <h2><a class="article-title"
                               href="{% url 'main-package-detail' template.id %}">{{ template.name }}</a></h2>
                    </article>
                </td>
                <td>
                    {{ template.user }}
                </td>
                <td>
                    {{ template.date_created|date:"F d, Y H:i" }} UTC
                </td>
                <td>
                    {{ template.status }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        {% get_params_without_page request.GET as params %}
        <ul class="nav justify-content-center">
            {% if page_obj.has_previous %}
                <li class="nav-item">
                    <a class="btn btn-outline-info mb-4"
                       href="{{ params }}page=1">First page</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-info mb-4"
                       href="{{ params }}page={{ page_obj.previous_page_number }}">Previous
                        page</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="nav-item">
                        <a class="btn btn-info mb-4"
                           href="{{ params }}page={{ num }}">{{ num }}</a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="nav-item">
                        <a class="btn btn-outline-info mb-4"
                           href="{{ params }}page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="nav-item">
                    <a class="btn btn-outline-info mb-4"
                       href="{{ params }}page={{ page_obj.next_page_number }}">Next
                        page</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-info mb-4"
                       href="{{ params }}page={{ page_obj.paginator.num_pages }}">Last
                        page</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
